body {
  margin: 0;
  padding: 0;
}

.banner-container {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%); /* Posisikan di tengah */
  width: 100%;
  background-color: #fff; 
  padding: 20px;
  transition: bottom 0.3s ease-in-out;
  z-index: 1000;
}

.banner-content {
  text-align: center; /* Pusatkan konten */
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #f00; 
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 50%; 
}

.close-btn:hover {
  background-color: #c00; 
}

/* Responsif */
@media screen and (max-width: 768px) {
  .banner-container {
    padding: 10px;
  }

  .close-btn {
    top: 5px;
    right: 5px;
  }
}
